{% extends 'admin_base.html' %}

{% block main %}

 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Signals Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-container"> <!-- Add the table-container class here -->
              <table class="table tablesorter" id="signalsTable">
                <thead class="text-primary">
                  <tr>
                    <th>ID</th>
                    <th>Signal Time</th>
                    <th>SYMBOL</th>
                    <th>TYPE</th>
                    <th>QUANTITY</th>
                    {% comment %} <th class="text-center">All</th> {% endcomment %}
                    <th>ENTRY PRICE</th>
                    <th>EXIT PRICE</th>
                    <th>P & L</th>
                    <th>Cumulative P & L</th>
                  </tr>
                </thead>
                <tbody>
                  {% for trade in trades %}
                  <tr>
                      <td>{{ trade.id }}</td>
                      <td>{{ trade.created_at }}</td>
                      <td>{{ trade.SYMBOL }}</td>
                      <td>{{ trade.TYPE }}</td>
                      <td>{{ trade.QUANTITY }}</td>
                      <td>{{ trade.ENTRY_PRICE }}</td>
                      <td>{{ trade.EXIT_PRICE }}</td>
                      <td>{{ trade.profit_loss }}</td>
                      <td>{{ trade.profit_loss }}</td>
                      <td>{{ trade.cumulative_pl }}</td>
                  </tr>
                  {% endfor %}
                 </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}