{% extends 'admin_base.html' %}

{% block main %}
<script type="text/javascript">
     function checkpassword()
     {
      if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
      {
        alert('New Password and Confirm Password field does not match');
        document.changepassword.confirmpassword.focus();
        return false;
      }  
      return true;
     }
</script>
   
<div class="card-shodow m-5">
   <div class ="card=body">
      <h5 class="p-2" style="border-bottom : 2px solid orange">Change Password</h5>

      <div class = "container-fluid">
        <form method="post" name="changepassword" onsubmit = "return checkpassword()">
          {%csrf_token %}
         
          <div class="form-row"> 
             <div class="col-sm-6">
              <div class="form-group">
                <label for="currentpassword">Current Password</label>
                <input type="password" class="form-control price-input" name="currentpassword" id="currentpassword" placeholder="Enter current password">
              </div>
             </div>  
          </div>

          <div class="form-row"> 
            <div class="col-sm-6">
             <div class="form-group">
               <label for="newpassword">New Password</label>
               <input type="password" class="form-control price-input" name="newpassword" id="newpassword" placeholder="Enter new password">
             </div>
            </div>  
         </div>

         <div class="form-row"> 
            <div class="col-sm-6">
             <div class="form-group">
               <label for="newpassword">Confirm New Password</label>
               <input type="password" class="form-control price-input" name="confirmpassword" id="confirmpassword" placeholder="Enter new password Again..">
             </div>
            </div>  
         </div>


          <br>
          <input type="submit" value="submit" onsubmit="return checkpassword()" class=" m-2 px-3 btn btn-primary">
        </form>
      </div>
   </div>
</div>

{% if error == "no" %}
<script>
  alert('Password updated Successful');
  window.location = ('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Something went wrong , Try Again...');
</script> 
{% endif %}
{% if error == "not" %}
<script>
  alert('Your current password is wrong');
</script>
{% endif %}


{% endblock %}