{% extends 'admin_base.html' %}

{% block main %}

 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Create Client Symbol Quantity</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-container"> <!-- Add the table-container class here -->
                <h1>Create Client Symbol Quantity</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% if error == "no" %}
<script>
  alert('Signup Successful');
  window.location = ('{% url 'client_signals' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Something went wrong , Try Again...');
</script> 

{% endif %}


{% endblock %}