{% extends 'admin_base.html' %}

{% block main %}

 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Delete Client Symbol Quantity</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-container"> <!-- Add the table-container class here -->
                <h1>Delete Client Symbol Quantity</h1>
                <p>Are you sure you want to delete "{{ client_symbol_qty.SYMBOL }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">Confirm</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}